server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: admin
    hikari:
      maximum-pool-size: 10

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: "0vM5QUAdP5RnCVaUdPczD1aM7u9PzOIt8HeCQd28geE="  # Secret key for JWT signing and verification
  expirationMs: 3600000  # Expiration time in milliseconds (e.g., 1 hour)
  prefix: "Bearer "  # JWT prefix to use (e.g., "Bearer <JWT>")
  header: "Authorization"  # The HTTP header where the JWT will be sent

logging:
  level:
    org.springframework.security: DEBUG
